body
{
    background-color:#01200dec;
    font-family:Verdana;
    font-size:20px;
    color:#aaa5a5;
    width: auto;
    margin-left:auto;
    margin-right:auto;
}
h1
{
    font-size:80px;
    margin-left: 20px;
    margin-right: 20px;
}
h2
{
    font-size:60px;
    margin-left: 20px;
    margin-right: 20px;
} margin-left: 20px;
margin-right: 20px;
h3
{
    font: size 40px;
    margin-left: 20px;
    margin-right: 20px;
}
#navigation
{
    background-color:#338b10 ;
    width: auto;
    height:30px;
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    padding:20px;
}
#navigationlogo
{
    width:auto;
    margin-left:auto;
    margin-right:auto;
}
.navigation
{
    float:left;
    min-width:60px;
    height:30px;
    font-size:15px;
    padding:7px;
    border-right: 2px dotted#000000;
    opacity:0.8;
}
.navigation:hover
{
    background-color:red;
    cursor:pointer;
}
.navigation:link
{
    background: #091b05;
    cursor:pointer;
}
.navigation:visited
{
   background-color:black
}
#aboutUs
{
    background-color:#58df23;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
}